<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Family Tree</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/familytreecontroller.js"></script>
    
</head>
<body>
    <div class="container-fluid">
        <div ng-app="FamilyTreeApp" ng-controller="FamilyTreeController">
            
                <span id='lblReportView'></span>
           
                <!--
                <button class="btn btn-primary btn-block " ng-model="clear" ng-click="buttonClick('Back')">Goto Family Tree</button><br>
                -->
           
        </div> <!--App-->
    </div> <!--Container-->

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

</body>
</html>