<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://listensoftwareapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>listensoftwareapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ListenSoftwareApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ListenSoftwareApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="databaseContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="lssWebApi2.Models.databaseContext, lssWebApi2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="listensoftwareDBContext" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\listensoftwareDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EFAddressBookContext" Order="9" Enabled="False">
          <Destination Path="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;User ID=dnishimoto@listensoftware.database.windows.net;Password=Amanda7258" Name="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;User Id=dnishimoto@listensoftware.database.windows.net;Password=Amanda7258" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFAddressBookContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:listensoftware.database.windows.net,1433;initial catalog=listensoftwareDB;persist security info=False;user id=dnishimoto;password=Amanda7258;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)databaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFAddressBookContext-Web.config Connection String">
      <ParameterValue>data source=tcp:listensoftware.database.windows.net,1433;initial catalog=listensoftwareDB;user id=dnishimoto@listensoftware.database.windows.net;password=Amanda7258;MultipleActiveResultSets=False;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)listensoftwareDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:listensoftware.database.windows.net,1433;Initial Catalog=listensoftwareDB;Persist Security Info=False;User ID=dnishimoto;Password=Amanda7258;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>